.product-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-add h1 {
    margin-bottom: 20px;
  }
  
  .product-add input,
  .product-add textarea,
  .product-add select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-add input[type="checkbox"] {
    width: auto;
  }
  
  .product-add label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .product-add textarea {
    resize: vertical;
    height: 100px;
  }
  
  .product-add-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(2, 2, 128);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-add-btn:hover {
    background-color: blue;
  }
  